{% extends "layout.html" %}
{% block body %}
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="col-lg-12">
<h3>Hakkımızda</h3>
<hr>
<p>
Merhabalar, Biz Pakistanda yaşayan birkaç Türk arkadaşız. 
Pakisatanda yaşamaya başlamadan önce gitmek için araştırıdığımızda çok zorlandık.
Türkçe kaynak gerçekten çok sınırlıydı. Bizde böyle bir website açıp Türkçe kaynak sayısını arttırmayı hedefledik.
Eğer sizinde bu konuda bilginiz varsa sizin de deneyim ve bilgilerinizi okumaktan çok mutlu oluruz sizde yazın.
</p>
<br><br>
<a style = "float:right;" href="/articles/addarticle/" class="btn btn-danger">Makale Yazmak İster misiniz?</a></td>

</div>
</div>
</div>
{% endblock body %}